div.Slider4{
    align-self: center;
    background-color: aqua;
  }
.inverted4 {
    filter: invert(1);
  }
.orange-background4 {
    background-color: orange;
  }
.slider-content4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
.slider-content4 img {
    max-width: 100%; /* This ensures the image does not overflow its container */
    object-fit: contain; /* This ensures the image maintains its aspect ratio */
    margin: auto;
    /* margin-left: 630px; */
    /* text-align: center; */
  }
/* 以下矢印 */
.hidarisankaku4 {
  border-style: solid;
  border-width: 20px 90px 20px 0px;
  border-color: #FFF #128C8E #FFF #FFF;
  display: inline-block;
  width: 0;
  height: 0;
}
.hidarisankaku4:hover{
  opacity: 0.85;
}
.migisankaku4{
  border-style: solid;
  border-width: 20px 0px 20px 90px;
  border-color: #FFF #FFF #FFF #128C8E;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 500px;
}
.migisankaku4:hover{
  opacity: 0.85;
}
/* 以下単語 */
.box-0204 {
  font-size: 3vw;
  font-weight: bold;
  position: relative;
  max-width: 20%;
  margin: 0 auto;
  padding: 0.5em 1.0em;
  background-color: #E0EFFF;
  color: #333;
  width: 220px;  /* 適切な値に調整してください */
  height: 40px; /* 適切な値に調整してください */
}
.box-0204::after {
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 20px 20px 0;
  border-style: solid;
  border-color: #C0CFDF #fff;
  box-shadow: -1px 1px 1px rgb(0 0 0 / 5%);
  content: '';
}